name: Build

on:
  push:

env:
  CI_COMMIT_REF_NAME: ${{ github.ref_name }}
  MODULE_NAME: registry-operator

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23'

      - name: Run tests
        run: make test

      - name: Run tests with race detector
        run: make test-race

      - name: Run tests with coverage
        run: make test-coverage

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23'

      - name: Run linter
        run: make lint

  build:
    runs-on: ubuntu-latest
    needs: [lint, test]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup
        uses: deckhouse/modules-actions/setup@main
        with:
          registry: ghcr.io
          registry-login: ${{ github.actor }}
          registry-password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: deckhouse/modules-actions/build@main
        with:
          module-source: ghcr.io/${{ github.repository_owner }}
          module-name: ${{ env.MODULE_NAME }}
          module-tag: ${{ github.ref_name }}
